<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1 style="text-align: center;">Calculadora</h1>

<div style="text-align: center; ">
<p><input class="caja" (keypress)="comprobar()" [(ngModel)]="Ingreso" ng-ke readonly type="text" style="border: none; text-align: right; font-size: xx-large;"></p>
</div>
<div style="text-align: center;">
<p><input class="caja" [(ngModel)]="Resultado" readonly  type="text" style="border: none;  text-align: center; font-size: xx-large  ;"></p>
</div>

<table class="tabla"  style=" border: solid black 2px; text-align: center; margin: auto ;">
  
    <tr >
      <td (click)="uno()">1</td>
      <td (click)="dos()">2</td>
      <td (click)="tres()">3</td>
      <td rowspan="2" (click)="limpiar()">C</td>
    </tr>
    <tr>
      <td (click)="cuatro()">4</td>
      <td (click)="cinco()">5</td>
      <td (click)="seis()">6</td>


    </tr>
    <tr >
      <td (click)="siete()">7</td>
      <td (click)="ocho()">8</td>
      <td (click)="nueve()">9</td>
      <td rowspan="2" (click)="mas()">+</td>


    </tr>
    <tr >
      <td (click)="punto()">.</td>
      <td (click)="cero()">0</td>
      <td (click)="div()">/</td> 
    
 

    </tr> 

    <tr >
      <td (click)="por()">*</td>
      <td (click)="raiz()">^²</td>
      <td (click)="menos()">-</td>
      <td (click)="igual()">=</td>
    </tr>
  </table>





</body>
</html>